.ReportForm {
  font: inherit;
  background: rgb(247, 247, 247);
  border: solid 1px black;
  width: 35%;
}

.Report-button-save {
  border-radius: 12px;
  background: #333;
  color: rgb(252, 249, 249);
  font-size: 1rem;
  align-self: center;
  margin-top: 30px;
  padding: 15px;
  width: 40%;
}
.Rep-form {
  padding: 20px;
}

.radio-options {
  display: flex;
  justify-content: center;
}

.GenerateReport {
  margin-top: 20px;
  background: #31353d;
  text-align: center;
  padding: 15px;
  color: white;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;

  font-size: 1rem;
}
.GenerateReport:hover {
  border: solid 3px coral;
  color: coral;
  cursor: pointer;
}
.GenerateReport:hover[disabled] {
  border: solid 2px coral;
  cursor: no-drop;
}
.GenerateReport[disabled] {
  background: rgb(82, 81, 81);
  cursor: no-drop;
}
