.Report {
  display: flex;
  justify-content: space-around;
}

.Report-Metadata {
  display: flex;
  width: 35%;
  border: solid 1px black;
  padding: 5px;
  box-shadow: 3px 3px 5px 6px #666;
  background: rgb(248, 246, 246);
  flex-direction: column;
}

.Data-not-found {
  margin-top: 100px;
  width: 35%;
  height: 100px;
  border-radius: 12px;
  background: rgb(58, 57, 61);
  border: solid 1px #333;
  color: #fff;
  padding: 10px;
}

.Data-not-found:hover {
  border: solid 2px coral;
}
