.Report {
  display: flex;
  justify-content: space-evenly;
}

.Report-Metadata {
  display: flex;
  width: 25%;
  border: solid 1px black;
  padding: 5px;
  background: rgb(248, 246, 246);
  flex-direction: column;
}
